<div id='member-details' class="container">
  <div class="row">

    <div class="col-sm-3 sidebar">
      <div class='user-pic'>
        <img ng-src='{{ member.user.profile_pictures.medium }}' />
      </div>

      <div class='friend-action'>
        <button class='btn btn-primary btn-md' ng-click='member.sendFriendRequest()' ng-if='!member.user.is_friend && !member.user.has_pending_friend_request'>Send Friend Request</button>
        <button class='btn btn-primary btn-md' ng-click='member.unfriend()' ng-show='member.user.is_friend'>Unfriend</button>
        <button class='btn btn-primary btn-md' ng-click='member.cancelFriendRequest()' ng-show='member.user.has_pending_friend_request'>Friend Request Pending</button>
      </div>

      <div class='user-info'>
        <div class="panel panel-default">
          <div class="panel-heading pop">Info</div>
          <div class="panel-body">
            <div>{{ member.user.full_name }}</div>
            <div>
              Struggles with <span ng-bind-html='member.user.strugglesAsText()'></span>.
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.sidebar -->

    <div class="col-sm-6">
      <div class='items'>
        <div ng-class="{ post: item.type == 'Post', journal_entry: item.type == 'JournalEntry' }" ng-repeat='item in member.items'>
          <div ng-include="'timeline/' + item.type + '.html'"></div>
        </div>
      </div>
    </div><!-- /.sidebar -->

    <div class="col-sm-3 sidebar">
      <div class='user-info'>
        <div class="panel panel-default">
          <div class="panel-heading pop">Connections</div>
          <div class="panel-body">
            <ol class="list-unstyled">
              <li ng-repeat='friend in member.user.friends'><img ng-src="{{ friend.profile_pictures.thumb }}" />
                <a ui-sref='members.details({ id: friend.id })'>{{ friend.full_name }}</a>
              </li>
              <li ng-if='!member.user.friends.length'>
                This person has no connections yet.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div><!-- /.sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->
