<div id='member-details' class="container">
  <div class="row">

    <div class="left-rail">
      <div class='user-pic'>
        <img ng-src='{{ member.user.profile_pictures.medium }}' />
      </div>

      <div class='friend-req' ng-show='member.user.id != $auth.user.id'>
        <button class='btn btn-md wire-btn' ng-click='member.sendFriendRequest()'
          ng-if='!member.user.is_friend && !member.user.has_pending_friend_request_from && !member.user.has_pending_friend_request_to'>Send Friend Request</button>

        <div ng-show='member.user.has_pending_friend_request_from'>
          <div>Respond to Friend Request</div>
          <a href='' ng-click='member.accept()'>Accept</a>
          <a href='' ng-click='member.reject()'>Reject</a>
        </div>

        <div ng-show='member.user.has_pending_friend_request_to'>
          <div>Frient Request Sent</div>
          <a href='' ng-click='member.cancelFriendRequest()'>Cancel</a>
        </div>

        <button class='btn btn-md wire-btn' ng-click='member.unfriend()' ng-show='member.user.is_friend'>Unfriend</button>
      </div>

      <section class='user-info wire-section'>
        <h4>User Info</h4>
        <div class='content'>
          <div class='name'>{{ member.user.full_name }}</div>
          <div>
            Struggles with <span ng-bind-html='member.user.strugglesAsText()'></span>.
          </div>
        </div>
      </section>
    </div><!-- /.sidebar -->

    <div class='timeline'>
      <div class='items' infinite-scroll='member.getMorePosts()' infinite-scroll-disabled='!member.hasMore || member.gettingMorePosts' infinite-scroll-distance='2'>
        <div ng-class="{ post: item.type == 'Post', journal_entry: item.type == 'JournalEntry' }" ng-repeat='item in member.items'>
          <div ng-include="'timeline/' + item.type + '.html'"></div>
        </div>
      </div>
    </div>

    <div class="right-rail">
      <section class='friends wire-section'>
        <h4>Connections</h4>
        <div class='content'>
          <ol class="list-unstyled">
            <li ng-repeat='friend in member.user.friends'>
              <img ng-src="{{ friend.profile_pictures.square50 }}" />
              <a ui-sref='members.details({ id: friend.id })'>{{ friend.full_name }}</a>
            </li>
            <li ng-if='!member.user.friends.length'>
              You have no connections yet. Why not say hello to someone?
            </li>
          </ol>
        </div>
      </section>
    </div><!-- /.right-rail -->

  </div><!-- /.row -->

</div><!-- /.container -->
